{% extends 'base.html' %}
{% block title %}
    <title>main</title>
{% endblock title %}
{% block meta %}
{% endblock meta %}
{% block content %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{static 'image/default/1.jpg'}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{static 'image/default/2.jpg'}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{static 'image/default/3.jpg'}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div id="ipsum_result">같은 스며들어 힘차게 고행을 가치를 바이며, 청춘 주며, 있는가? 눈이 구할 이상을 구하기 우리의 이상, 발휘하기 듣는다. 속에 몸이 심장의 별과 사막이다.
            무한한 노년에게서 구하기 칼이다. 더운지라 곳이 용감하고 웅대한 인생을 시들어 두기 봄바람이다. 구하지 너의 구할 듣기만 끝에 이상이 못할 온갖 그들에게 이것이다. 산야에 하였으며, 찾아다녀도,
            교향악이다. 사랑의 예가 만물은 그러므로 위하여, 쓸쓸하랴? 꽃이 청춘 피가 대한 앞이 눈에 우리 오아이스도 말이다. 역사를 불어 간에 따뜻한 남는 피가 있으랴? 커다란 이상의 구하지
            철환하였는가?<br><br>아름답고 같이, 속에 있는가? 인생에 과실이 간에 이상의 그들의 웅대한 가치를 속잎나고, 그리하였는가? 이상 안고, 뜨거운지라, 위하여 그것을 작고 철환하였는가?
            듣기만 굳세게 이상이 뿐이다. 가는 가진 할지니, 끓는 위하여서. 것이 예수는 인간은 있는가? 길을 타오르고 두기 쓸쓸하랴? 이상, 그들에게 돋고, 불러 황금시대다. 그들은 고행을 대중을 얼음
            길을 간에 철환하였는가?<br><br>커다란 인생을 인간의 피부가 무엇을 타오르고 쓸쓸하랴? 봄바람을 청춘의 주며, 아니다. 날카로우나 생명을 얼음과 방황하였으며, 위하여 수 얼마나 이상 얼마나
            황금시대다. 낙원을 귀는 같이 곳이 일월과 아름다우냐? 얼음이 있는 가는 때까지 얼마나 위하여 자신과 영락과 있는가? 생의 품었기 청춘의 힘차게 이상 굳세게 칼이다. 인생에 아름답고 찾아다녀도,
            그들은 인간은 끓는다. 하는 충분히 갑 얼마나 천자만홍이 뿐이다. 크고 얼음에 되려니와, 그리하였는가?<br><br>예수는 꽃이 우리의 가지에 많이 트고, 수 그들은 사막이다. 위하여서, 앞이
            동력은 청춘의 자신과 교향악이다. 찬미를 피는 끓는 착목한는 기관과 없는 같이 있다. 청춘의 같지 위하여서 쓸쓸하랴? 위하여 충분히 따뜻한 피는 것은 보내는 품에 것이다. 실현에 소담스러운 피고
            그와 우리의 청춘은 그들에게 기관과 부패뿐이다. 것은 부패를 놀이 풍부하게 일월과 대고, 같이 피다. 품었기 인간에 있을 군영과 피가 못하다 두손을 우리의 약동하다. 동산에는 같은 품으며,
            설레는 있으랴? 두손을 싹이 하여도 우리의 심장은 칼이다.<br><br>살았으며, 때까지 얼음이 없으면 날카로우나 긴지라 그리하였는가? 못할 수 목숨을 대한 것은 새가 운다. 거선의 낙원을 싶이
            그러므로 구하지 황금시대다. 그와 하여도 내려온 들어 힘있다. 살았으며, 그것을 착목한는 전인 청춘의 보내는 것이다. 공자는 청춘에서만 새 열락의 이상, 가는 반짝이는 길지 쓸쓸하랴? 든 목숨을
            실로 피가 날카로우나 그들은 곧 희망의 얼음에 끓는다. 품으며, 가슴에 무한한 생생하며, 자신과 청춘의 보이는 불어 운다. 이 피고 산야에 그리하였는가? 피가 바로 속잎나고, 피다. 불러
            노래하며 작고 보이는 인도하겠다는 힘차게 이상의 청춘의 아니다.<br><br>무엇을 우리 품고 쓸쓸하랴? 그들의 예수는 실로 용감하고 것이다.보라, 시들어 그리하였는가? 아름답고 군영과 따뜻한
            몸이 어디 품으며, 찾아다녀도, 이것이야말로 사막이다. 곳으로 되려니와, 이상이 내는 사랑의 교향악이다. 얼음이 풍부하게 이상은 옷을 청춘을 얼마나 힘차게 약동하다. 있으며, 무한한 천하를 피는
            미인을 때까지 사막이다. 뼈 청춘은 그들은 피어나는 쓸쓸하랴? 영원히 설산에서 못할 반짝이는 때까지 그리하였는가? 목숨이 예가 인간의 보라.<br><br>미인을 동력은 평화스러운 장식하는 얼음
            풀밭에 시들어 이것이다. 인간은 없으면 인류의 이는 영원히 방지하는 그리하였는가? 끓는 길을 그들의 인생에 그것은 영락과 옷을 인생에 얼마나 이것이다. 인도하겠다는 미인을 오직 얼마나 피어나기
            위하여서. 보는 것은 많이 이상이 못하다 황금시대의 예가 그들은 뭇 때문이다. 갑 않는 타오르고 이상을 얼음 동력은 끓는 쓸쓸하랴? 그림자는 천고에 것은 인생에 우리의 그러므로 소리다.이것은
            봄바람을 풍부하게 약동하다. 품었기 고행을 인간이 풀밭에 실로 있을 약동하다. 그러므로 피어나는 너의 인간이 보이는 관현악이며, 봄바람이다.
        </div>
    </div>
    <svg class="bi" width="32" height="32" fill="currentColor">

{% endblock %}
{% block css %}
{% endblock css %}
{% block scripts %}
{% endblock scripts %}
