{% load static %}
<div class="container-sm rounded-start border border-1">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col">
                상호 : (주)에이원</br>
                대표 : 이의환</br>
                사업자 등록번호 : 201-86-18451</br>
                주소 : 서울시 강남구 청담동 83-2 4층</br>
                대표전화 : 1800-8561
            </div>
            <div class="col-md-auto">

            </div>
            <div class="col col-lg-2 align-self-center">
                <a class="navbar-brand" href="#">
                    {#                        <image src="{% static 'image/logo.png' %}" width="60">#}
                </a>
            </div>
        </div>
    </div>
</div>